p{

color: rgb(66, 66, 230);

}
/* punkts ir par klases nosaukumu un pec tam mes uztaisam visu centretu*/
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  text-align: center;
}
 
.styled-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #0078D4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
